.lightBG 
{ 
	background-color:#444654
}

.pageBG 
{
	background-color:#242634
}

.lightMenu
{
	background-color:#9193A0;
	font-family: arial;
	font-size: 1px
}

.pageHeader 
{
	background-color:#444654; 
	color:#C1C3D0; 
	font-family: sans-serif;
	font-size: 42px;
	border-left: #444654 12px solid; 
	border-bottom: #444654 5px solid
}

.copyright 
{ 
	background-color:#444654; 
	color:#A1A3B0; 
	font-family: sans-serif;
	font-size: 15px
}

.documentHeader
{
	background-color:#5c6773; 
	color:#f0f0df; 
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold
}

.documentMain
{
	background-color:#f0f0df; 
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none
}

.documentText
{
	color:#000000; 
	font-family: sans-serif;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none
}

.sectionHeader
{
	background-color:#242634;
	color:#f0f0df; 
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none
}

A.sectionHeader:hover
{
	color:#f0f0df; 
	text-decoration: underline
}


h1
{
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold
}

h2
{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold
}

h3
{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold
}

code
{
	color:#5C1F7C; 
	font-family: sans-serif;
	font-size: 15px;
	font-weight: bold
}

pre
{
	background-color:#d0d0d0; 
	font-size: 12px;
	white-space: pre
}
