vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServiceMarkUrlDirExec vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerCollab vti_TimedDocEvents
vti_webservertype:SR|msiis
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_timecreated:TR|18 Sep 2003 15:52:27 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|5.0.2.5012
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_textindexood:IR|0
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_hassearchbot:BR|false
vti_dependenciesood:IR|0
