P { 
   margin-left:5.75pt; 
   margin-right:6.50pt; 
   margin-top:4.00pt; 
   margin-bottom:1; 
   text-align:left; 
   font-family:Arial; 
   font-size:9pt;  }
H1 { 
    margin-left:5.75pt; 
    margin-right:6.50pt; 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    text-align:left; 
    font-family:Arial; 
    font-size:9pt; 
    font-weight:bold;  }
H2 { 
    margin-left:5.75pt; 
    margin-right:6.50pt; 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    text-align:left; 
    font-family:Arial; 
    font-size:9pt; 
    font-weight:bold;  }
H3 { 
    margin-left:5.75pt; 
    margin-right:6.50pt; 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    text-align:left; 
    font-family:Arial; 
    font-size:9pt; 
    font-weight:bold;  }
H4 { 
    margin-left:18.00pt; 
    margin-right:6.50pt; 
    margin-top:4.00pt; 
    margin-bottom:1; 
    text-align:left; 
    font-family:Arial; 
    font-size:12pt; 
    font-weight:bold;  }
H5 { 
    margin-left:5.75pt; 
    margin-right:6.50pt; 
    margin-top:12.00pt; 
    margin-bottom:3.00pt; 
    text-align:left; 
    font-family:Arial; 
    font-size:11pt; 
    font-weight:bold;  }
H6 { 
    margin-left:5.75pt; 
    margin-right:6.50pt; 
    margin-top:12.00pt; 
    margin-bottom:3.00pt; 
    text-align:left; 
    font-family:Arial; 
    font-size:11pt; 
    font-style:italic; 
    font-weight:bold;  }
H6.Heading7 { 
             margin-left:5.75pt; 
             margin-right:6.50pt; 
             margin-top:12.00pt; 
             margin-bottom:3.00pt; 
             text-align:left; 
             font-family:Arial; 
             font-size:9pt;  }
H6.Heading8 { 
             margin-left:5.75pt; 
             margin-right:6.50pt; 
             margin-top:12.00pt; 
             margin-bottom:3.00pt; 
             text-align:left; 
             font-family:Arial; 
             font-size:9pt; 
             font-style:italic;  }
H6.Heading9 { 
             margin-left:5.75pt; 
             margin-right:6.50pt; 
             margin-top:12.00pt; 
             margin-bottom:3.00pt; 
             text-align:left; 
             font-family:Arial; 
             font-size:9pt; 
             font-style:italic;  }
P.footnote-text { 
                 margin-left:5.75pt; 
                 margin-right:6.50pt; 
                 margin-top:4.00pt; 
                 margin-bottom:1; 
                 text-align:left; 
                 font-family:Arial; 
                 font-size:10pt;  }
P.Topic-Text-Indent { 
                     margin-left:15.10pt; 
                     margin-right:6.50pt; 
                     margin-top:4.00pt; 
                     margin-bottom:1; 
                     text-align:left; 
                     font-family:Arial; 
                     font-size:9pt;  }
P.Normal-Indent { 
                 margin-left:36.00pt; 
                 margin-right:6.50pt; 
                 margin-top:4.00pt; 
                 margin-bottom:1; 
                 text-align:left; 
                 font-family:Arial; 
                 font-size:9pt;  }
P.Tip-Note-Heading { 
                    margin-left:5.75pt; 
                    margin-right:6.50pt; 
                    margin-top:6.00pt; 
                    margin-bottom:1; 
                    text-align:left; 
                    font-family:Arial; 
                    font-size:9pt; 
                    font-weight:bold;  }
P.Tip-Note-Text { 
                 margin-left:15.10pt; 
                 margin-right:6.50pt; 
                 margin-top:4.00pt; 
                 margin-bottom:1; 
                 text-align:left; 
                 font-family:Arial; 
                 font-size:9pt;  }
P.Tip-Note-Text-Bulleted { 
                          margin-left:15.10pt; 
                          margin-right:6.50pt; 
                          margin-top:4.00pt; 
                          margin-bottom:1; 
                          text-indent:0; 
                          text-align:left; 
                          font-family:Arial; 
                          font-size:9pt;  }
P.Topic-Text-Bulleted { 
                       margin-left:15.10pt; 
                       margin-right:6.50pt; 
                       margin-top:4.00pt; 
                       margin-bottom:1; 
                       text-indent:0; 
                       text-align:left; 
                       font-family:Arial; 
                       font-size:9pt;  }
P.Topic-Text-Numbered { 
                       margin-left:15.10pt; 
                       margin-right:6.50pt; 
                       margin-top:4.00pt; 
                       margin-bottom:1; 
                       text-indent:0; 
                       text-align:left; 
                       font-family:Arial; 
                       font-size:9pt;  }
P.Topic-Text-Onestep { 
                      margin-left:15.10pt; 
                      margin-right:6.50pt; 
                      margin-top:4.00pt; 
                      margin-bottom:1; 
                      text-indent:0; 
                      text-align:left; 
                      font-family:Arial; 
                      font-size:9pt;  }
P.Normal-(Web)  { 
                 margin-left:5.75pt; 
                 margin-right:6.50pt; 
                 margin-top:4.00pt; 
                 margin-bottom:1; 
                 text-align:left; 
                 font-family:Arial; 
                 font-size:9pt;  }
P.annotation-text { 
                   margin-left:5.75pt; 
                   margin-right:6.50pt; 
                   margin-top:4.00pt; 
                   margin-bottom:1; 
                   text-align:left; 
                   font-family:Arial; 
                   font-size:10pt; 
                   margin-left:5.75pt; 
                   margin-right:6.50pt; 
                   margin-top:4.00pt; 
                   margin-bottom:1; 
                   text-align:left; 
                   font-family:Arial; 
                   font-size:10pt;  }
P.HTML-Top-of-Form { 
                    margin-top:1; 
                    margin-bottom:1; 
                    text-align:center; 
                    font-family:Arial; 
                    font-size:9pt; 
                    display:none;  }
P.HTML-Bottom-of-Form { 
                       margin-top:1; 
                       margin-bottom:1; 
                       text-align:center; 
                       font-family:Arial; 
                       font-size:9pt; 
                       display:none;  }
P.Title { 
         margin-top:1; 
         margin-bottom:1; 
         text-align:center; 
         font-size:12pt;  }
P.Balloon-Text { 
                margin-left:5.75pt; 
                margin-right:6.50pt; 
                margin-top:4.00pt; 
                margin-bottom:1; 
                text-align:left; 
                font-family:Tahoma; 
                font-size:9pt;  }
P.text { 
        margin-top:1; 
        margin-bottom:6.00pt; 
        text-align:justify; 
        font-size:10pt;  }
P.section-header { 
                  margin-top:1; 
                  margin-bottom:3.00pt; 
                  text-indent:0; 
                  text-align:left; 
                  font-family:Arial; 
                  font-size:10pt; 
                  font-weight:bold;  }
P.Body-Text-2 { 
               margin-top:1; 
               margin-bottom:1; 
               text-indent:18.00pt; 
               text-align:justify; 
               font-size:9pt;  }
P.Copyright { 
             margin-top:288.00pt; 
             margin-bottom:300.00pt; 
             text-align:center; 
             font-size:12pt;  }
P.annotation-subject { 
                      margin-left:5.75pt; 
                      margin-right:6.50pt; 
                      margin-top:4.00pt; 
                      margin-bottom:1; 
                      text-align:left; 
                      font-family:Arial; 
                      font-size:10pt; 
                      font-weight:bold;  }
P.xl24 { 
        margin-top:5.00pt; 
        margin-bottom:5.00pt; 
        text-align:left; 
        font-family:Verdana; 
        font-size:9pt; 
        font-weight:bold;  }
P.xl25 { 
        margin-top:5.00pt; 
        margin-bottom:5.00pt; 
        text-align:left; 
        font-size:12pt; 
        color:blue; 
        text-decoration:underline;  }
BODY { 
      font-family:Arial; 
      font-size:9pt; 
      background-color:white;  }
ol ol { 
       margin-top:4px;  }
ol ul { 
       margin-top:4px;  }
ul ul { 
       margin-top:4px;  }
ul ol { 
       margin-top:4px;  }
